.DS_Store
.logs
node_modules
dist
coverage

# Environment variables files
.env.development.local
.env.production.local

# Local songs used as test files
songs

# Prisma SQLite DB file
dev.db
dev.db-journal
